<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="con2"  connectionString="data source=.\;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\PublicacionesCientificas.mdf;"
           providerName="System.Data.SqlClient" />
    <add name="con" connectionString="Data Source=.\LEONARDO;Initial Catalog=tamboprp01;Trusted_Connection=True;"/>

  </connectionStrings>
</configuration>