*.dll
*.obj
*.pdb
/Entidades/bin/Debug/*.pdb
/Entidades/bin/Debug/*.dll
/Datos/bin/Debug/*.pdb
/Datos/bin/Debug/*.dll
/tamboprp/bin/*.*
/Entidades/bin
/Entidades/obj
/Datos/bin
/Datos/obj
/tamboprp/bin
/tamboprp/obj
/Tests_Entidades/bin
/Tests_Entidades/obj
/packages
/*.user
/*.suo
/Negocio/bin
/Negocio/obj
/tamboprp/Web.config
